
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<footer>
  <div class="footer-container">
    
    <!-- Logo y descripción -->
    <div class="footer-box">
      <img src="assets/icon/icono_huara.png" alt="Logo Municipalidad" class="footer-logo">
      <p>
        Ilustre Municipalidad de Huara<br>
        Trabajando por el desarrollo y bienestar de nuestra comunidad.
      </p>
    </div>

    <!-- Contacto -->
    <div class="footer-box">
      <h3>Contacto</h3>
      <ul>
        <li><strong>Teléfono:</strong> +56 572463200</li>
        <li><strong>Email:</strong> imhuara.alcaldia@gmail.com</li>
        <li><strong>Horario:</strong> Lunes a Viernes, 8:30 - 17:18 hrs</li>
      </ul>
    </div>

    <div class="footer-box">
      <h3>Municipalidad</h3>
      <ul>
        <li><a href="#" class="hover:text-yellow-300">Concejo Municipal</a></li>
        <li><a href="#" class="hover:text-yellow-300">Ordenanzas</a></li>
        <li><a href="#" class="hover:text-yellow-300">Concursos Públicos</a></li>
      </ul>
    </div>


    <div class="footer-box">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#" class="hover:text-yellow-300">Participación Ciudadana</a></li>
        <li><a href="#" class="hover:text-yellow-300">Discapacidad</a></li>
        <li><a href="#" class="hover:text-yellow-300">Medio Ambiente</a></li>
      </ul>
    </div>

    <!-- Ubicación -->
    <div class="footer-box">
      <h3>Ubicación</h3>
      <p>
        Huara, Región de Tarapacá, Chile
      </p>
      <a href="https://maps.app.goo.gl/4PdH1yCoePoeC2uK9" target="_blank">Ver en Google Maps</a>
    </div>

      <!-- Redes sociales -->
      <div class="footer-box">
        <h3>Síguenos</h3>
        <div class="social-links">
          <ul class="mg-social">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100064666692677&#038;locale=es_LA" target="_blank">
                <span class="icon-soci facebook"><i class="fa-brands fa-facebook-f"></i></span>
              </a>
            </li>
            <li>
              <a href="https://x.com/IMHuara" target="_blank">
                <span class="icon-soci x-twitter"><i class="fa-brands fa-x-twitter"></i></span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/im_huara/?hl=es" target="_blank">
                <span class="icon-soci instagram"><i class="fa-brands fa-instagram"></i></span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/@ilustremunicipalidaddehuara" target="_blank">
                <span class="icon-soci youtube"><i class="fa-brands fa-youtube"></i></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </div>

  

  <div class="footer-bottom">
    © 2025 Ilustre Municipalidad de Huara | Todos los derechos reservados
  </div>
</footer>




