<footer class="bg-blue-900 text-white p-6 mt-8">

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div>
      <h4 class="font-bold">La Municipalidad</h4>
      <ul class="mt-2 space-y-1">
        <li><a href="#" class="hover:text-yellow-300">Concejo Municipal</a></li>
        <li><a href="#" class="hover:text-yellow-300">Ordenanzas</a></li>
        <li><a href="#" class="hover:text-yellow-300">Concursos Públicos</a></li>
      </ul>
    </div>

    <div>
      <h4 class="font-bold">Servicios Municipales</h4>
      <ul class="mt-2 space-y-1">
        <li><a href="#" class="hover:text-yellow-300">Participación Ciudadana</a></li>
        <li><a href="#" class="hover:text-yellow-300">Discapacidad</a></li>
        <li><a href="#" class="hover:text-yellow-300">Medio Ambiente</a></li>
      </ul>
    </div>

  </div>
  <p class="text-center mt-6 text-sm"> 2025 Ilustre Municipalidad</p>

</footer>