<section class="flex-1 bg-white p-6 shadow rounded">
  
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Noticias</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <article class="shadow rounded overflow-hidden bg-gray-50">
      <img src="assets/noticia1.jpg" alt="Noticia 1" class="w-full h-40 object-cover">
      <div class="p-4">
        <h3 class="font-bold">Inauguran obras de conservación en escuela de Sibaya</h3>
        <p class="text-sm text-gray-600">Las obras fueron financiadas por la Dirección de Educación Pública del Ministerio de Educación y el Municipio de Huara. Durante la ceremonia, se firmó un convenio con el SLEP del Tamarugal.</p>
      </div>
    </article>

    <article class="shadow rounded overflow-hidden bg-gray-50">
      <img src="assets/noticia2.jpg" alt="Noticia 2" class="w-full h-40 object-cover">
      <div class="p-4">
        <h3 class="font-bold">Huara inaugura nuevo Centro Comunitario para personas mayores</h3>
        <p class="text-sm text-gray-600">Con una inversión de más de $165 millones, la comuna celebró la apertura de un espacio moderno y accesible, destinado a fortalecer el bienestar y la participación activa.</p>
      </div>
    </article>

    <article class="shadow rounded overflow-hidden bg-gray-50">
      <img src="assets/noticia3.jpg" alt="Noticia 3" class="w-full h-40 object-cover">
      <div class="p-4">
        <h3 class="font-bold">SENDA Tarapacá refuerza conductas de responsabilidad y autocuidado.</h3>
        <p class="text-sm text-gray-600">campaña “El Otro Plan” en la Fiesta de San Lorenzo</p>
      </div>
    </article>

  </div>
</section>
