<section class="relative max-w-full mx-auto my-10">

    <button 
    class="absolute left-0 top-1/2 -translate-y-1/2 bg-gray-800 text-white 
            p-4 text-3xl rounded-full shadow-md z-10"
    onclick="document.getElementById('scroll-cards').scrollBy({left: -300, behavior: 'smooth'})">
    &#10094;
    </button>

    <div id="scroll-cards" class="flex gap-6 overflow-x-auto scroll-smooth no-scrollbar px-12">

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">TA</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">Transferencia Activa</h3>
        <p class="text-gray-600 text-sm mt-2">
            Realice aquí sus transferencias, seguro y sin riesgos.
        </p>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">SI</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">Solicitud de Información</h3>
        <p class="text-gray-600 text-sm mt-2">
            Encuentre todos los trámites y servicios que ofrece el municipio en línea.
        </p>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">EOC</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">Organizaciones Comunitarias</h3>
        <p class="text-gray-600 text-sm mt-2">
            Revise las elecciones comunitarias realizadas por las organizaciones competentes.
        </p>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">PLH</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">Plataforma Ley del Hobby</h3>
        <p class="text-gray-600 text-sm mt-2">
            Nueva ley realizada por la institución de seguridad y bienestar.
        </p>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">C</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">Carabineros</h3>
        <p class="text-gray-600 text-sm mt-2">
            Seguridad y bienestar.
        </p>
        </div>
    </div>

    <div class="bg-white shadow-md rounded-lg p-8 border-t-4 border-blue-500 hover:shadow-xl transition min-w-[280px]">
        <div class="flex flex-col items-center text-center">
        <div class="bg-blue-100 text-blue-600 p-5 rounded-full mb-5">
            <span class="material-icons text-4xl">PH</span>
        </div>
        <h3 class="text-lg font-bold text-gray-800">PDI Huara</h3>
        <p class="text-gray-600 text-sm mt-2">
            Seguridad, bienestar y investigación.
        </p>
        </div>
    </div>

    </div>

    <button 
    class="absolute right-0 top-1/2 -translate-y-1/2 bg-gray-800 text-white 
            p-4 text-3xl rounded-full shadow-md z-10"
    onclick="document.getElementById('scroll-cards').scrollBy({left: 300, behavior: 'smooth'})">
    &#10095;
    </button>

</section>