<!-- lo que muestra de sibe.html y noticias.html----------------------------------------------------------------- -->
    
<body>
  <div class="wrap">
    <header>
      <h1>Tarjetas de presentación</h1>
      <p>Concejales</p>
    </header>

    <section class="grid" aria-label="Listado de tarjetas">
  
      <article class="business-card" aria-label="Tarjeta de María Pérez">
        <div class="card-top">

          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
            <div class="name">LORENA REGINA BALTAZAR LUCAY</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row" title="Teléfono">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a>+56 9 9932 3686</a>
          </div>
          <div class="meta-row" title="Correo">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:lorenareginna2018@gmail.com">lorenareginna2018@gmail.com</a>
          </div>

        </div>
      </article>

      <article class="business-card">
        <div class="card-top">
          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
          <div class="name">RAÚL SEGUNDO URIBE TIAYNA</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a href="tel:+56 9 9932 3689">+56 9 9932 3689</a></div>
          <div class="meta-row"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:raulsegundouribe@gmail.com">raulsegundouribe@gmail.com</a></div>
        </div>
      </article>

            <article class="business-card" aria-label="Tarjeta de María Pérez">
        <div class="card-top">

          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
            <div class="name">NARCISO JOSÉ RELOS ESTEBAN</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row" title="Teléfono">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a href="tel:+56 9 9932 3642">+56 9 9932 3642</a>
          </div>
          <div class="meta-row" title="Correo">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:concejalrelosimh@gmail.com">concejalrelosimh@gmail.com </a>
          </div>

        </div>
      </article>




      <article class="business-card" aria-label="Tarjeta de María Pérez">
        <div class="card-top">

          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
            <div class="name">EDMUNDO AGUSTIN CÁCERES IBAÑEZ</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row" title="Teléfono">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a href="tel:+56 9 2377 4714">+56 9 2377 4714</a>
          </div>
          <div class="meta-row" title="Correo">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:ciedmundo@gmail.com ">ciedmundo@gmail.com </a>
          </div>

        </div>
      </article>



      <article class="business-card" aria-label="Tarjeta de María Pérez">
        <div class="card-top">

          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
            <div class="name">JOAQUÍN ANDRÉS FLORES MOSCOSO</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row" title="Teléfono">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a href="tel:+56 9 2377 4723">+56 9 2377 4723</a>
          </div>
          <div class="meta-row" title="Correo">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:concejaljoaquinflores@gmail.com">concejaljoaquinflores@gmail.com </a>
          </div>

        </div>
      </article>


      <article class="business-card" aria-label="Tarjeta de María Pérez">
        <div class="card-top">

          <div class="logo" aria-hidden="true"><span>ME</span></div>
          <div class="company">
            <div class="name">MARIBEL CECILIA MAMANI VILCA</div>
            <div class="dept">Concejal</div>
          </div>
        </div>

        <div class="meta">
          <div class="meta-row" title="Teléfono">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6A19.79 19.79 0 0 1 2.08 4.18 2 2 0 0 1 4.06 2h3a2 2 0 0 1 2 1.72c.12.89.32 1.76.59 2.6a2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.48-1.11a2 2 0 0 1 2.11-.45c.84.27 1.71.47 2.6.59A2 2 0 0 1 22 16.92z"/></svg>
            <a href="tel:+56 9 2377 4705">+56 9 2377 4705</a>
          </div>
          <div class="meta-row" title="Correo">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M4 4h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"/><path d="m22 6-10 7L2 6"/></svg>
            <a href="mailto:maribelmamani.concejalahuara@gmail.com">maribelmamani.concejalahuara@gmail.com</a>
          </div>

        </div>
      </article>

    </section>

    <hr style="margin: 32px 0; border: 0; border-top: 1px solid #1f2937;" />

  </div>
</body>